

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 商品 iframe 框</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form"  lay-filter="layuiadmin-form-goods" id="layuiadmin-form-goods" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">订单编号</label>
        <div class="layui-input-inline">
            <input type="text" name="orderNumber" id="orderNumber" disabled lay-verify="required" placeholder="请输入商品名" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">订单状态</label>
        <div class="layui-input-inline" >
            <select name="orderStatus" id="orderStatus">
                <option  value="0" >待支付</option>
                <option  value="1">待发货</option>
                <option  value="2">待收货</option>
                <option  value="3">待评价</option>
                <option  value="4">已完成</option>
                <option  value="5">交易关闭</option>
            </select>
        </div>
    </div>



    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-order-front-submit" id="LAY-order-front-submit" value="确认">
    </div>
</div>
<script src="/plugin/vue/vue.js"></script>
<script src="/plugin/jquery/jquery.js"></script>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload ;

        upload.render({
            elem: '#layuiadmin-upload-goods'
            ,url: 'http://mall.lqcnb.cn/api/goods/upload'
            ,accept: 'images'
            ,method: 'post'
            ,acceptMime: 'image/*'
            ,done: function(res){
                $('filename').val(res.data);
                $(this.item).prev("div").children("input").val(res.data)
            }
        });
    });
    function getQueryVariable(variable)
    {
        const query = window.location.search.substring(1);
        const vars = query.split("&");
        for (let i=0;i<vars.length;i++) {
            let pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }
    const orderNumber=getQueryVariable("orderNumber");
    const orderStatus=getQueryVariable("orderStatus");
    if(orderNumber&&orderStatus){
        $('#orderNumber').val(getQueryVariable("orderNumber"));
        $('#orderStatus').val(getQueryVariable("orderStatus"));
    }







</script>
</body>
</html>