

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">订单编号</label>
            <div class="layui-input-block">
              <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-goods" lay-submit lay-filter="LAY-user-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-goods" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-goods" data-type="add">添加</button>
        </div>
        
        <table id="LAY-pay-manage" lay-filter="LAY-pay-manage"></table>
        <script type="text/html" id="payTpl">
          {{# if (d.paymentType==1){ }}
          <span>支付宝 </span>
          {{#  } else { }}
          <span>微信 </span>
          {{#  } }}
        </script>
        <script type="text/html" id="stateTpl">
          {{# if (d.paymentStatus==1){ }}
          <span>已支付 </span>
          {{#  } else { }}
          <span>未支付 </span>
          {{#  } }}
        </script>
        <script type="text/javascript"> function formatTime(d){ if(d){ var date = new Date(); debugger; date.setTime(d); console.log(d); debugger; var y = date.getFullYear(); var m = date.getMonth()+1; m = m<10?('0'+m):m; var day = date.getDate(); day = day<10?("0"+day):day; var h = date.getHours(); h = h<10?("0"+h):h; var M = date.getMinutes(); M = M<10?("0"+M):M; var str = y+"-"+m+"-"+day+" "+h+":"+M; return str; }else{ return ''; } } </script>
        <script type="text/html" id="table-useradmin-webuser">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'goods', 'table','admin'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table,
    admin=layui.admin;
    //监听搜索
    form.on('submit(LAY-user-front-search)', function(data){
      var field = data.field;
      console.log(field);
      //执行重载
      table.reload('LAY-goods-manage', {
        where: field
      });
    });
  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-goods-manage')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证口令'
        }, function(value, index){
          if(value=="lqcnb.cn"){
            layer.confirm('确定删除吗？', function(index) {
              for(let v of checkData){
                //执行 Ajax 后重载
                admin.req({
                  url: 'http://mall.lqcnb.cn/api/goods/delete/'+v.id,

                  //,……
                });
              }
              table.reload('LAY-goods-manage');
              layer.msg('已删除');
            });
          }else{
            layer.msg('口令错误');
          }


          layer.close(index);
          

        });

      }
      ,add: function(){
        layer.open({
          type: 2
          ,title: '添加商品'
          ,content: 'goodsform.html'
          ,maxmin: true
          ,area: ['500px', '450px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'LAY-goods-front-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              console.log($('#filename').val());
              console.log(field);
              //提交 Ajax 成功后，静态更新表格中的数据
              $.ajax({
                  url:'http://mall.lqcnb.cn/api/goods/add',
                  data:field,
                  success:function (data) {
                    layer.msg(data.msg);
                  }
              });
              table.reload('LAY-goods-manage'); //数据刷新
              layer.close(index); //关闭弹层
            });  
            
            submit.trigger('click');
          }
        }); 
      },addimgs:function () {
        var checkStatus = table.checkStatus('LAY-goods-manage')
         ,checkData = checkStatus.data; //得到选中的数据
        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }else if (checkData.length === 1){
          layer.open({
            type: 2
            ,title: '添加商品'
            ,content: 'addimg.html'
            ,maxmin: true
            ,area: ['500px', '450px']
            ,btn: ['确定', '取消']
            ,yes: function(index, layero){
              var iframeWindow = window['layui-layer-iframe'+ index]
                      ,submitID = 'LAY-goods-front-submit'
                      ,submit = layero.find('iframe').contents().find('#'+ submitID);

              //监听提交
              iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                var field = data.field; //获取提交的字段
                console.log(field,checkData);
                //提交 Ajax 成功后，静态更新表格中的数据
                $.ajax({
                  url:'http://mall.lqcnb.cn/api/goods/updateDIMG',
                  data:{
                    detailImg:field.detailImg,
                    id:checkData[0].id
                  },
                  success:function (data) {
                    layer.msg(data.msg);
                  }
                });
                table.reload('LAY-goods-manage'); //数据刷新
                layer.close(index); //关闭弹层
              });

              submit.trigger('click');
            }
          });
        } else{
          return layer.msg('请选择一行数据');
        }
      }
    };
    
    $('.layui-btn.layuiadmin-btn-goods').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });





  function Format(datetime,fmt) {
    if (parseInt(datetime)==datetime) {
      if (datetime.length==10) {
        datetime=parseInt(datetime)*1000;
      } else if(datetime.length==13) {
        datetime=parseInt(datetime);
      }
    }
    datetime=new Date(datetime);
    var o = {
      "M+" : datetime.getMonth()+1,                 //月份
      "d+" : datetime.getDate(),                    //日
      "h+" : datetime.getHours(),                   //小时
      "m+" : datetime.getMinutes(),                 //分
      "s+" : datetime.getSeconds(),                 //秒
      "q+" : Math.floor((datetime.getMonth()+3)/3), //季度
      "S"  : datetime.getMilliseconds()             //毫秒
    };
    if(/(y+)/.test(fmt))
      fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));
    for(var k in o)
      if(new RegExp("("+ k +")").test(fmt))
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
    return fmt;
  }

  </script>
</body>
</html>
